/* About.css */
.about {
    padding: 40px;
    max-width: 500px;
    margin: auto;
  }
  
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h3 {
    color: #8f4d8c; /* Custom purple color */
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .about-section p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    margin: 0;
  }