/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fdfdfd; /* Light neutral background */
  }
  
  .navigation a {
    margin: 0 15px;
    text-decoration: none;
    color: #4a4a4a; /* Muted dark color for text */
    font-weight: 500;
  }
  
  .navigation a:hover {
    color: #ba68c8; /* Highlight color on hover */
  }
  
  .toggle-button {
    /* Style your toggle button here */
  }