/* SpotifyEmbed.css */
.spotify-embed {
    padding: 40px;
    max-width: 350px;
    margin: auto;
    text-align: center;
  }
  
  .spotify-embed h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #444;
  }
  
  .spotify-embed iframe {
    border: none;
    border-radius: 10px;
  }